@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.align-center {
    text-align: center;
    width: 100%;
}

div {
    font-family: 'Roboto';
}