<div class="container">
    <div class="align-center" *ngIf="(conteudo?.objeto.erro)">
        <h4>{{ conteudo?.objeto.erro }}</h4>
        <img src="http://i2.kym-cdn.com/photos/images/newsfeed/001/043/243/419.gif" alt="">
    </div>
    <div class="align-center" *ngIf="!(conteudo?.objeto)">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <div class="row" *ngIf="(conteudo?.objeto && !conteudo?.objeto.erro)">
        <div class="align-center">
            <h3>{{ conteudo?.objeto.numero }}</h3>
            <span>{{ conteudo?.objeto.categoria }}</span>            
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Local</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody *ngFor="let evento of conteudo?.objeto.evento">
                    <tr class="info">
                        <td rowspan="2" style="text-align:center; vertical-align:middle;">
                            <strong>
                                {{ evento.data }} {{ evento.hora }}
                            </strong>
                        </td>
                        <td> {{ evento.local }} - {{ evento.cidade }}/{{ evento.uf }} </td>
                        <td> {{ evento.descricao }} </td>
                    </tr>
                    <tr>
                        <td *ngIf="(evento.destino)" colspan="2"> {{ evento.descricao }} para {{ evento.destino.local }} - {{ evento.cidade }}/{{ evento.uf }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
